body {
    font-family: 'Afacad Flux', serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
    padding: 20px;
}

html {
    scroll-behavior: smooth;
}

.header-title {
    font-family: 'Afacad Flux', serif;
}

.capital-titles {
    color: #766F64;
}

header {
    background-color: #458E9D;
    color: white;
    padding: 20px;
    font-family: 'Afacad Flux', serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Afacad Flux', serif;
}

header ul {
    list-style: none; /* Supprime les puces */
    display: flex; /* Aligne les éléments horizontalement */
    gap: 40px; /* Espacement entre les onglets */
    margin: 0; /* Supprime les marges */
    padding: 0; /* Supprime les padding */
}

header li {
    display: inline;
}

header a {
    color: white; /* Couleur des liens */
    text-decoration: none; /* Supprime le soulignement */
    font-weight: bold;
    padding: 5px 10px; /* Ajoute un peu d'espace autour du texte */
    border-radius: 5px; /* Ajoute des coins arrondis */
    transition: background-color 0.3s; /* Animation pour le survol */
}

header a:hover {
    background-color: #306F78; /* Couleur de fond lors du survol */
}

footer {
    background-color:#458E9D;
    color: white;
    padding: 20px;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Afacad Flux', serif;
}

footer ul {
    list-style: none; /* Supprime les puces */
    display: flex; /* Aligne les éléments horizontalement */
    gap: 40px; /* Espacement entre les onglets */
    margin: 0; /* Supprime les marges */
    padding: 0; /* Supprime les padding */
}

footer li {
    display: inline;
}

footer a {
    color: white; /* Couleur des liens */
    text-decoration: none; /* Supprime le soulignement */
    font-weight: bold;
    padding: 5px 10px; /* Ajoute un peu d'espace autour du texte */
    border-radius: 5px; /* Ajoute des coins arrondis */
    transition: background-color 0.3s; /* Animation pour le survol */
}

footer a:hover {
    background-color: #306F78; /* Couleur de fond lors du survol */
}

h2 {
    color: #766F64;
}

h3 {
    color: #766F64;
}

.table-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
}

.table-item {
    text-align: center;
}

th, td {
    padding: 8px 15px;
    text-align: center;
}

th {
    background-color: #766F64;
    color: white;
}

td {
    background-color: #f8f8f8;
}

.previsions-table {
    margin: 0 auto;
    width: 60%;
}

.intro-about {
    width: 40%;
    margin: 0 auto;
}

.conclusion-about {
    width: 60%;
    margin: 0 auto;
}

/* Conteneur général pour centrer les cartes */
.content-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 0 10%;
}

.card {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 30%; /* Largeur de 30% pour chaque carte */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}

/* Responsivité : ajuster les cartes sur petits écrans */
@media (max-width: 768px) {
  .card {
    width: 80%; /* 80% de la largeur sur les petits écrans */
    margin: 10px auto;
  }

  .content-wrapper {
    padding: 0 5%;
  }
}

@media (max-width: 500px) {
  .card {
    width: 90%; /* 90% de la largeur sur les très petits écrans */
  }
}

.good {
    color: green;
    font-weight: bold;
}
.fair {
    color: orange;
    font-weight: bold;
}
.moderate {
    color: #d7d71d;
    font-weight: bold;
}
.poor {
    color: red;
    font-weight: bold;
}
.very-poor {
    color: darkred;
    font-weight: bold;
}
