<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prévisions météo pour {{ city }}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/world.jpg') }}" type="image/jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Asap:wght@400;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+AU+SA:wght@100..400&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}

    <h1>Prévisions Météo sur les 5 jours à venir pour {{ city }}</h1>

    <!-- Afficher le graphique -->
    <img src="data:image/png;base64,{{ img_data }}" alt="Graphique des prévisions météo">

    <table class="previsions-table">
        <tr>
            <th>Date</th>
            <th>Température (°C)</th>
            <th>Conditions</th>
            <th>Icône</th>
        </tr>
        {% for day in forecast_data['list'] %}
        <tr>
            <td>{{ day['dt_txt'] }}</td>
            <td>{{ day['main']['temp'] }}</td>
            <td>{{ day['weather'][0]['description'] }}</td>
            <td>
                <img src="http://openweathermap.org/img/wn/{{ day['weather'][0]['icon'] }}.png" alt="Icône météo">
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/">Retour à l'accueil</a>

    {% include 'footer.html' %}
</body>
</html>
