<header>
    <div class="header-container">
        <h1 class="header-title">
            <a href="/">World Weather</a>
        </h1>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/#international-weather">Radar</a></li>
                <li><a href="/previsions">Prévisions</a></li>
                <li><a href="/air">Qualité de l'Air</a></li>
                <li><a href="/about">À propos</a></li>
            </ul>
        </nav>
    </div>
</header>