<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Weather</title>
    <link rel="icon" href="{{ url_for('static', filename='images/world.jpg') }}" type="image/jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Asap:wght@400;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+AU+SA:wght@100..400&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <h1>Qualité de l'Air</h1>
        <form action="/air" method="post">
            <label for="city">Entrez le nom de la ville :</label>
            <input type="text" id="city" name="city" placeholder="Exemple : Paris" required>
            <button type="submit">Résultat</button>
        </form>

        {% if pollution_data %}
        <div class="pollution-results">
            <h2>Résultats pour {{ city_name }}</h2>
            <p><strong>PM10 (Particules fines) :</strong> {{ pollution_data.PM10 }}</p>
            <p><strong>AQI (Indice de qualité de l'air) :</strong> {{ pollution_data.AQI }}</p>
            {% if pollution_data.AQI == 1 %}
                <p class="good">AQI : Good (Très bon)</p>
            {% elif pollution_data.AQI == 2 %}
                <p class="fair">AQI : Fair (Moyenne)</p>
            {% elif pollution_data.AQI == 3 %}
                <p class="moderate">AQI : Moderate (Modérée)</p>
            {% elif pollution_data.AQI == 4 %}
                <p class="poor">AQI : Poor (Mauvaise)</p>
            {% elif pollution_data.AQI == 5 %}
                <p class="very-poor">AQI : Very Poor (Très mauvaise)</p>
            {% else %}
                <p>Impossible de déterminer la qualité de l'air.</p>
            {% endif %}
            <p><strong>CO (Monoxyde de carbone) :</strong> {{ pollution_data.CO }} µg/m³</p>
            <p><strong>NO (Dioxyde d'azote) :</strong> {{ pollution_data.NO }} µg/m³</p>
            <p><strong>NO2 (Dioxyde d'azote) :</strong> {{ pollution_data.NO2 }} µg/m³</p>
            <p><strong>O3 (Ozone) :</strong> {{ pollution_data.O3 }} µg/m³</p>
            <p><strong>SO2 (Dioxyde de soufre) :</strong> {{ pollution_data.SO2 }} µg/m³</p>
            <p><strong>NH3 (Ammoniac) :</strong> {{ pollution_data.NH3 }} µg/m³</p>
        </div>
        {% endif %}
    </div>
    {% include 'footer.html' %}
</body>
</html>
